[2019-04-01 03:48] Cold-Winter opened #1 "Do you have any pretrained models for celeba-hq or"
Nice work. It helps me a lot. Can you please provide any pretrained model for celeba-hq or ffhq (the new released dataset in stylegan paper)

[2019-04-02 06:49] huangzh13 opened #2 "The use of the loss function."
When I use **wgan-gp** as a loss function, the training fails. Any explanation?

[2019-04-02 08:48] akanimax commented on #2
@huangzh13, please check out the latest commit [4522d6772dd1d56b9eb073e4ea23c51562064812](https://github.com/akanimax/BMSG-GAN/commit/4522d6772dd1d56b9eb073e4ea23c51562064812) which fixes the memory leak in the "wgan-gp" loss calculation. Also, in order for WGAN-GP to work, you need to tune the learning rates of the Discriminator and Generator differently. Try the values of:
`g_lr = 0.003` and `d_

[2019-04-02 13:33] huangzh13 commented on #2
Thanks for your reply!
I have checked the latest code and tuned the learning rates. I have also tried the values of `g_lr=0.0003` and `d_lr=0.0003`. But they didn't work.
The networks tends to generate the color blocks.

[2019-04-02 14:23] akanimax commented on #2
@huangzh13, Yes, this is the desired behaviour. You get exactly these kinds of colour blocks on the high resolution, but could you please check the output of lower resolutions? MSG-GAN indeed has this advantage over other GANs that you can check the training of lower resolutions as well. So you get highly informative feedback throughout training. Also, just have some patience, because these colour

[2019-04-02 14:51] huangzh13 commented on #2
Am I too impatient?
I opened this issue because after the same number of epochs, the model with `RelativisticAverageHinge Loss` had got quite good images (both high resolution and low resolution).
Does this mean that for BMSG-GAN, `RelativisticAverageHinge Loss` is a more suitable loss?

[2019-04-02 14:58] akanimax commented on #2
@huangzh13, As I could understand, you wrote that you were not getting results at all. If you had mentioned that you have obtained good results using `RaHinge`, I wouldn't have written so. Also, I didn't say that you are impatient :smile:.

About this, I have mentioned in the paper, that With RaHinge or with other Relativistic versions of losses, you don't have to tune the learning rate so much, a

[2019-04-03 04:48] huangzh13 commented on #2
I train the model on `CelebA dataset` for only 3 epochs. But the validity of your method has been verified.

(16X16)
![gen_3_12600](https://user-images.githubusercontent.com/18120295/55453426-6c6b1a00-560e-11e9-8756-a7fd1c310564.png)
(128X128)
![gen_3_12600](https://user-images.githubusercontent.com/18120295/55453442-8278da80-560e-11e9-9b88-3b6dcc4338af.png)

Your paper and code help me a lot!

[2019-04-09 08:02] fumoffu947 commented on #2
Hi,
I have a quick question about the loss for the two networks.
I have just started using this code to try and generate better quality images, because the paper sounded interesting.
And as you have been able to generate good images i thought this was a good place to ask, instead of opeing a new issue.
So regarding the loss: for other training of GAN you usually look at the loss for the discrimina

[2019-04-09 08:09] akanimax commented on #2
@fumoffu947,
Well, this is a characteristic of the RelativisticHinge loss. For most of the training, the discriminator loss value remains `0` (adds to the stability of the training). It is indeed expected behaviour.
Also, please update your code to the latest changes. I have added colour correction to the generated samples.

Also, please do post your trained results. It will help others.
Hope this

[2019-04-09 08:25] fumoffu947 commented on #2
I have updatet to the latest code, and do not have acces to the results so easily as i have some restrictions on me.
Will update the previous post with the trained results when i have acces to it.

And some question regarding the training time and loss.
Will the use of this structure of training (and networks) increase the training time, as it learns from the bottom up? (thus have more epochs need

[2019-04-15 14:37] BlindElephants commented on #2
@akanimax, can you comment more about this? What can one expect to see being returned as "loss" for both Genenerate and Discriminator networks as the higher resolutions are looking like solid color blocks? I'm assuming that there should be some wavering loss in both networks/functions, but I'm experiencing a rapid drop to ```Loss = 0.0``` for Discriminator, no matter what learning rates I set. Cur

[2019-04-16 09:36] akanimax commented on #2
@BlindElephants, Well, firstly please check the new training gif add to the readme this more clearly explains how the training takes place. BTW, please note that our MSG-GAN uses the relativistic hinge loss which is indeed a margin-adaption loss at its heart. So please don't be discouraged by seeing a value of `0.0` as the discriminator loss. It is highly expected behaviour. This is unlike the oth

[2019-04-16 09:53] fumoffu947 commented on #2
@BlindElephants I had the same color blocks for about 20 epochs before any change.
But the change came be seen in the lower layer long before it is seen in the last layer, as said by @akanimax. So look for changes in the previous layers first.

[2019-04-21 13:19] BlindElephants commented on #2
@fumoffu947 Thanks for the reply. I ended up just letting it run for a while, despite seeing loss=0.0 on the discriminator side from the beginning.
You're totally right, the solid color patches precede some really interesting developments, and indeed, I did see changes and more detail in lower layers first.

Here's a time lapse video I posted on Vimeo of training: [https://vimeo.com/330681428](htt

[2019-04-21 13:25] BlindElephants opened #4 "Training at half-/mixed-precision?"
Seeing very interesting results so far with the code in this repo. I'm wondering if @akanimax or anyone else has had any luck speeding up training with this repo by using half-precision or mixed-precision?

[2019-04-23 08:50] bemoregt opened #5 "I have met this error when run train.py ..."
Hi, @owang @sridharmahadevan @akanimax @huangzh13

I have met this error when run train.py ...
What's wrong to me?

oem@sgi:~/BMSG-GAN/sourcecode$ python3 train.py --depth=7 --latent_size=128 --images_dir='../data/celebJapan/train' --sample_dir=samples/exp_2 --model_dir=models/exp_2
Total number of images in the dataset: 6604

error message -
Starting the training process ...

Epoch: 1
Elapsed [0:

[2019-04-23 08:56] akanimax commented on #5
Could you please show what is the version of your python, torch and numpy?
Please try updating to the latest versions for torch and numpy.
The code is tested for `python == 3.6.5`.
Please let me know if you still face this issue.

[2019-04-23 08:58] bemoregt commented on #5
Hi, @owang @sridharmahadevan @akanimax @huangzh13

My Environment:

Ubuntu 17.x x64, Python 3.6.7, CUDA 10.1, Pytorch 0.4.1, numpy 1.15.4

Thanks.

[2019-04-23 08:58] akanimax commented on #5
Could you please try again with python 3.6?
The error comes after the first training log itself.

[2019-04-23 09:03] bemoregt commented on #5
Hi, @owang @sridharmahadevan @akanimax @huangzh13

It's same at python3.6 ...

What's wrong to me?

Thanks at any rate .... *_*;

[2019-04-23 09:06] akanimax commented on #5
Could you try updating pytorch to `1.0.0`?  I hope this solves the problem.

[2019-04-23 09:11] bemoregt commented on #5
OK, I'll try that...

[2019-04-23 12:25] bemoregt commented on #5
It works , Thanks a lot.

from @bemoregt

[2019-04-23 12:33] akanimax commented on #5
@bemoregt,

I am glad that it is working now. Just wanted to point out that since you are synthesizing Japanese celebs at 256 x 256 resolution, the `latent_size = 128` might not be enough to make the generator expressive enough. Please try to use `latent_size=512`.

Also, if you are able to get good results, please feel free to share these with us, I'll be happy to include them on the readme like

[2019-04-23 12:36] akanimax commented on #4
@BlindElephants,

That is a good suggestion. We could really use faster training. We are more focused on providing the empirical validation for the MSG-GAN technique in this repo. Contributions are most welcome :smile:.

Best regards,
@akanimax

[2019-04-23 12:39] akanimax commented on #2
@BlindElephants,

That is really interesting. You'd have gotten even better results with a little more training.
BTW, did you use the raw frames or did some preprocessing to the extracted images before training?

Also, please feel free to open a PR like @huangzh13, if you'd like to share your results (through the readme).

Best regards,
@akanimax

[2019-04-23 12:50] bemoregt commented on #5
But, ...

Elapsed [0:04:07.511359] batch: 108  d_loss: 0.040370  g_loss: 18.472263
Elapsed [0:04:15.999767] batch: 112  d_loss: 0.000000  g_loss: 12.169998
Elapsed [0:04:24.425038] batch: 116  d_loss: 0.053961  g_loss: 16.491339
Elapsed [0:04:32.862795] batch: 120  d_loss: 0.000000  g_loss: 11.238050
Traceback (most recent call last):
  File "train.py", line 254, in <module>
    main(parse_argumen

[2019-04-23 13:04] akanimax commented on #5
@bemoregt,

I see. There is no handling of Grayscale image case. I'll fix this by tomorrow when I get access to my code (I am currently travelling). For now, could you please remove all the grayscale (black and white) images from your dataset?

Thanks.
@akanimax

[2019-04-23 13:59] bemoregt commented on #5
Hi, @akanimax

OK, I see.

I could understand my data's problems...

My images include some rotated & zero-padded images.

Because of those images, May be It happens...

Many Thanks ~

[2019-04-23 16:23] BlindElephants commented on #4
Happy to contribute on this front, as I have a real interest in seeing this happen. Can you comment a bit more about what is and isn't parallelizable in the current architecture and the reasons for those decisions?

I think your notes outlined some particulars that are not currently parallelized.

[2019-04-23 16:25] BlindElephants commented on #2
I used raw frames dumped with ffmpeg from the original source video. Have not played with additional preprocessing yet.

I currently am running a follow-up training session that is further along than where I ended this sample and you're right, things are getting really interesting quickly. Will open PR when appropriate to share findings.

[2019-04-23 16:56] akanimax commented on #2
@BlindElephants,
Glad to know that.
Happy to help.

Best regards,
@akanimax

[2019-04-23 16:58] akanimax commented on #4
Awesome. I'll need to take a deeper look into the code for that. It's night here actually. Will do that tomorrow. Thanks! :+1:

Cheers :beers:!
@akanimax

[2019-04-25 00:12] bemoregt commented on #5
@akanimax

At current sample state
epoch=227

[https://3.bp.blogspot.com/-KY44bqw_nd8/XMD7JNG-6SI/AAAAAAABAkY/lI9VEv8nhWw4xbMFh4RI8tb8nhkjZuImACLcBGAs/s1600/epoch227.png](url)

[https://3.bp.blogspot.com/-KY44bqw_nd8/XMD7JNG-6SI/AAAAAAABAkY/lI9VEv8nhWw4xbMFh4RI8tb8nhkjZuImACLcBGAs/s1600/epoch227.png](url)

[2019-04-25 00:28] bemoregt commented on #5
Hi, @akanimax

celebJapan, epoch=230.., TitanXP + 1080ti

[image: epoch227.png]

Thanks ..

from @bemoregt.

2019년 4월 23일 (화) 오후 6:06, Animesh Karnewar <notifications@github.com>님이 작성:

[2019-04-25 02:50] huangzh13 commented on #5
Hi, @bemoregt
Could you tell me something about your **celebJapan** dataset?

Best regards.

[2019-04-25 03:59] bemoregt commented on #5
Hi, @huangzh13 @akanimax

Ok, My celebJapan dataset's information is..

- Total 3,591 images, including Horizontal Flipped Augmented.
- 100x100 sized Color Image
- about 20KB file size
- jpg+png format.

Is this too small dataset for MSG-GAN?

Thanks.

[2019-04-25 04:41] akanimax commented on #5
@bemoregt,
The results seem good to me given the size of your dataset. BTW, could you share a full size sheet of the generated images. The one you shared seems to be a screenshot of the image viewer. I think you should let it train for longer and one more thing you could try is to calculate the FID of the models for an objective evalutaion. The data size ok for the resolution. Also try increasing

[2019-04-25 04:46] akanimax commented on #4
@BlindElephants

Okay, so the notes about parallelism are regarding the use of the dataParallel technique over mulitple GPUs. [this comment](https://github.com/akanimax/BMSG-GAN/blob/master/sourcecode/MSG_GAN/GAN.py#L178) is saying that all the computations till the final block of the Discriminator will take place over multiple GPUs but will then bring all the results till then to the first GPU. T

[2019-04-25 09:32] bemoregt commented on #5
Hi, @akanimax @huangzh13 @owang @sridharmahadevan

It seems that rotated face is very weak for generation using MSG-GAN.

What is the image augmentation technics suitable for face generating GAN?

Thanks .

from @bemoregt

[2019-04-28 10:35] markstrefford opened #6 "Sagemaker config"
Hi, I've added config to allow this to run on AWS SageMaker here:
https://github.com/markstrefford/Sagemaker-BMSG-GAN/
Do you want a PR for this?

[2019-04-28 10:50] akanimax commented on #6
@markstrefford,

Thanks a lot. This will be beneficial to those using AWS sagemaker for their training. Please feel free to open a PR, I am always open for contributions.
Thanks again.

Best regards,
@akanimax

[2019-04-30 06:17] wcxchunxin opened #8 "Change the number of gpus"
@akanimax.Hi,
         Nice work,I've implemented your code.It helped me a lot. But,I want to change the number of gpus.I own two Tesla graphics CARDS.Would you please tell me how to modify it! Thanks!

[2019-04-30 13:44] Pascal900 commented on #5
Hi, @akanimax

I'd be happy to test MSG-GAN on radiology data.

Is there a way to allow for output grayscale images in your next update?

Thanks!

[2019-05-02 04:22] akanimax commented on #5
@Pascal900,

Great to hear that you would like to use the MSG-GAN for radiology data. Earlier when I said that I'll handle the Grayscale case, I meant just ignoring the grayscale images from the dataset. But for your case, it seems that all the images in the dataset would be grayscale. Will create a new branch for this development. It is a new addition to the network. Till then one thing you could

[2019-05-09 04:40] akanimax commented on #6
@markstrefford
Thanks for the pull request.

Cheers :beers:!
@akanimax

[2019-05-09 04:40] #6 closed

[2019-05-17 14:33] MikunoUtopia opened #10 "A runtime error occurred while running 'train.py'..."
I encountered this error when I was training in the following configuration：

python train.py --images_dir='data/bird' --folder_distributed=True --sample_dir='samples/exp_1' --model_dir='models/exp_1'

I changed default options in train.py where
 "default='os.environ['SM_MODEL_DIR'],"  to   “samples/exp_1',” "default=os.environ['SM_CHANNEL_TRAINING'],“  to   "default='data/bird',",
"default='os.en

[2019-05-20 09:05] ChenXiao61 opened #11 "@akanimax"

[2019-05-20 09:16] ChenXiao61 opened #12 "No space left on disk"
Hi,  @akanimax ,thanks for sharing your code. I want to train my own data (colour fundus photos) to data augmentation. the number and resolution of  my data set are 235 and 1024*1024. I trained more than 260 epochs, but generated images are still bad and happened the error "No space left on disk" , it is that the saved models and samples used too much space of my disk(170G). How can I solve the pr

[2019-05-20 15:55] owang commented on #12
Hi @ChenXiao61, please try setting `--checkpoint_factor` to a higher value so that models are saved less frequently.

[2019-05-21 01:22] ChenXiao61 commented on #12
Thanks a lot @owang . I solved this problem. Another question is may I set --depth  to generate higher resolution?  Now I generate 256x256. And how can I reload the parameters trained latest time?

[2019-05-21 01:33] #11 closed

[2019-05-21 14:44] akanimax commented on #12
@ChenXiao61, Yes, you can change the depth in order to generate higher or lower resolution images. Please note that the resolution doubles after increasing the depth by 1. So, currently for `256 x 256` you would have a depth of `7` so increasing it to `8`, you would generate `512 x 512` images. Also, for the depth of `1` (smallest depth), the code generates `4 x 4` images.

In order to resume the

[2019-05-22 03:16] ChenXiao61 commented on #12
Hello, @akanimax .Thank you very much.

[2019-05-26 12:41] BlindElephants commented on #8
If you're using cuda, the code provided in this repo should automatically be enabling parallel processing on available GPU hardware:

See [here](https://github.com/akanimax/BMSG-GAN/blob/19cb76b1680cb925753b4ebd93f05565e8859599/sourcecode/MSG_GAN/GAN.py#L233):

[code]

[2019-05-27 02:18] wcxchunxin commented on #8
Thank you! It works! May you be happy, my sir! ------------------ 原始邮件 ------------------
发件人: "Jeremy Stewart"<notifications@github.com>
发送时间: 2019年5月26日(星期天) 晚上8:41
收件人: "akanimax/BMSG-GAN"<BMSG-GAN@noreply.github.com>;
抄送: "wcxchunxin"<1140657162@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [akanimax/BMSG-GAN] Change the number of gpus (#8)

If you're using cuda, the code provided in th

[2019-05-27 09:20] akanimax commented on #8
@wcxchunxin, Glad to know that your problem is solved.

@BlindElephants, Thanks a lot for helping @wcxchunxin out. You do seem to have spent a lot of time in this code. :smile:. Thanks again.

Best regards,
@akanimax

[2019-05-27 09:20] #8 closed

[2019-05-27 11:07] wcxchunxin commented on #8
Dear sir，
Sure，I did spend a lot of time.But,it's a good work and it's worth it.However,I fail to reproduce your results.512X512 images will take ten days with 200 epochs and it takes too long.Thank you for your reply.

Your,
Wang Chunxin.

------------------ 原始邮件 ------------------
发件人: "Animesh Karnewar"<notifications@github.com>;
发送时间: 2019年5月27日(星期一) 下午5:20
收件人: "akanimax/BMSG-GAN"<BMSG-GAN@no

[2019-05-28 03:03] ChenXiao61 commented on #12
Hello，@akanimax, I have recurred the BMSG-GAN on my own data and gotten excellent generated data. I still have smoe questions:

1) Does BMSG-GAN train more time the generated files better? Or when to stop training and generate data using pretrained weights is the best？
2) How does the number of train data influences the result? As far as I know, the more train data, the better, but the medical ima

[2019-05-28 03:52] akanimax commented on #12
@ChenXiao61,

Glad to hear that you obtained great results. I'll try to address your questions below:

1.) About GANs In general, you can't judge the quality of the generator based on the time it is trained. The way to find out which model to use among the saved checkpoints is to calculate the FID for all these models and then use the one with the lowest FID. Please check out https://github.com/ms

[2019-05-29 08:36] powerspowers opened #13 "Sagemaker environment vars should not be required"
USE_SAGEMAKER is checked at the beginning of train.py but not in the arg code which include a few sagemaker variables. Easy enough to comment out but would be nice just to pull the USE_SAGEMAKER through completely in the code for all variables.

[2019-05-30 02:50] ChenXiao61 commented on #12
Thanks for your help, @akanimax
1)  I have calculated FID of the original data and generated data using the code you provided me. And at https://www.ctolib.com/bioinf-jku-TTUR.html, I read such information:

And at https://github.com/mseitzer/pytorch-fid read this:

The number of my original data is more than 200, and the number of generated data equals. I set the --dims=192, --batch-size=5 and I

[2019-05-31 22:15] mdraw commented on #5
Since I am also working on grayscale radiology data and needed support for that immediately, I've implemented this in #14. @Pascal900, maybe you can try my branch if this use case is still relevant to you. I'd be happy to hear feedback.

[2019-06-01 17:43] GongXinyuu opened #15 "Training scripts for CIFAR-10"
Hi Akanimax, thanks for your great work!

Could you please also release the training scripts for CIFAR10 generation?

[2019-06-02 07:17] akanimax commented on #15
@GongXinyuu,
I have added the pytorch datasets options in this branch -> [cifar_script](https://github.com/akanimax/BMSG-GAN/tree/cifar_script). Please use the `--pytorch_dataset=cifar-10 --dataset_dir=../data/cifar-10/` options for training on the CIFAR-10 dataset. I'll add it to master later.

Hope it helps.

Best regards,
@akanimax

[2019-06-02 15:58] GongXinyuu commented on #15
Thank you very much!

[2019-06-02 15:58] #15 closed

[2019-06-05 12:05] talvasconcelos commented on #2
@BlindElephants @akanimax @huangzh13 @fumoffu947 can i get a bit more info on your runs?

I'm trying to run this on Colab, 1xK80 GPU... i have a 10k image dataset i want to train with, 128x128. I've set 16 as the batch_size to see if the training moved a little faster(the log output...) don't know if this is right? Should i increase the batch_size?

How long, with the 2xV100 GPU does it take to tr

[2019-06-05 13:10] fumoffu947 commented on #2
@talvasconcelos I can't really say what kind of hardware you should use. I used a Quadro P5000 16Gig graphics card with a batch size of 8 (because of the huge fluctuation in memory usage before it stabilizes). As you can see in my log, one epoch took about 11 hours. I got really good results after 5 days (when I ran on medical images of size 256x256). It should probably run for longer, which will

[2019-06-05 13:23] BlindElephants commented on #2
@talvasconcelos I've run training sessions with a few different data sets, currently one set is approx 9,000 images and the other is approx 60,000 images.

I'm training at 1024x1024 resolution, on a machine that has two RTX 2080ti GPUs. With that, I can do batch size = 5.

For the training set that has about 9,000 images, it takes just over an hour (about 65 minutes) per epoch.

Also, probably mos

[2019-06-05 13:43] talvasconcelos commented on #2
Wow guys, thanks a lot for the input. I've had some runs of GANs made a DCGAN in Keras and tryied a few alternatives. The problem with my DCGAN is that it gives some "good" results (@BlindElephants i'm also trying to do some art stuff, so no realistic output also) at 64x64. But for 128x128 apart from taking forever, it collapses after a while.

I've let the BMSG-GAN run with default settings, othe

[2019-06-06 16:22] talvasconcelos commented on #2
So... epoch 114 with hyperparameters: latent=256 batch_size=32 (for the first 100 epochs) now is running on 48 10k images dataset

![gen_14_1](https://user-images.githubusercontent.com/12083186/59049209-677d4d80-887f-11e9-8cd3-eff8a610a475.png)

My dataset is not as homogeneous as the faces... @akanimax how long did the flowers test, the second one, with a bigger difference in pictures, ran? What

[2019-06-07 05:21] akanimax commented on #2
@BlindElephants and @fumoffu947, Thank you so much for the help.
@talvasconcelos,
Your latent size `256` is too small. Please increase it to `512` at least. You will have to reduce your batch size appropriately. Rest everything seems fine to me. Your data is 10K right? I suppose you should start getting good results at around 1000 epochs. I have trained the oxford-flowers 8K dataset for 3000 epoch

[2019-06-07 05:23] akanimax commented on #2
@fumoffu947, You can monitor the fid scores of the training models. I am going to include the code to monitor the fid during training itself later. Currently, you have to run a post training script to calculate the fid of all the models and then use the one with the lowest FID score.

[2019-06-07 07:13] Mut1nyJD commented on #2
@akanimax
This is an interesting discussion as I am running into similar issues my dataset is about 10k. (512x512)
After 50 epochs I see reasonable structural results up to 64x64 but even after 100 epochs anything above that level still looks very wongy none of the finner details seems to be translated correctly and there are clear blob shaped artifacts all over the place?

I am just worried that

[2019-06-07 08:28] akanimax commented on #2
@Mut1nyJD, @fumoffu947, @BlindElephants, @talvasconcelos
The dynamics of MSG-GAN are a bit unique. So, from my experience you usually need around 1000 epochs to get good (crisp and clear results like the ones displayed on the Repo's README) for below 10K dataset. The info related to how long all the datasets (Flowers, CelebA, Lsun bedrooms, CelebA-HQ, etc.) were trained for is elaborated in the Su

[2019-06-09 16:01] BlindElephants commented on #2
@talvasconcelos Use a larger latent size.

You might also want to try something with a very small training set ( <= 5000, or even 1000-2000) just as a test to see what happens (for your own sake, I mean). If you provide a subset of training images that all conform to a particular type or subject, the model should converge quite quickly. If you observe this by outputting periodic samples, you shoul

[2019-06-17 16:44] crypticsymmetry commented on #10
Broadcast shape (3, 128, 128) is (rgb, height, width) of image. output shape (1, 128, 128) means it's outputting one color channel, instead of 3/RGB. I think , I don't know that much about coding. Hopefully this helps.

[2019-07-03 22:44] powerspowers opened #16 "deprecated function call in generate_samples"
I am a bit lame with GitHub pull requests so here is a note that a call is deprecated:

generate_samples.py:126: DeprecationWarning: `imsave` is deprecated!
`imsave` is deprecated in SciPy 1.0.0, and will be removed in 1.2.0.
Use ``imageio.imwrite`` instead.
  ss_image.squeeze(0).permute(1, 2, 0).cpu())

[2019-07-05 12:52] akanimax commented on #16
@powerspowers,

Sure, it's always better to remove the deprecated packages. I'll update the call soon.
Thanks! :smile:

Cheers :beers:!
@akanimax

[2019-07-09 12:55] Mut1nyJD commented on #2
Okay I am going to post some results soon. Indeed things got better after waiting longer. I also increased the dataset size by a further 50% but even after 350 epochs it still struggles but I wonder if that is simply because unlike most GAN test datasets it has far less homogeneity.
Faces simply are too easy. :)
BMSG-GAN is doing a lot better on this dataset than ProGAN though which even with rela

[2019-07-09 13:54] wodsoe opened #17 "How much GPU memory to use for 1024*1024?"
How much GPU memory to use for 1024*1024?

[2019-07-22 13:03] robbiebarrat commented on #17
bumping this- i have the same question

[2019-07-22 13:13] robbiebarrat commented on #17
@wodsoe i just tried it out; not sure exactly but more than 12gb it seems. it's stated that they used v100s (16gb gpus) - so the full 1024x1024 model is somewhere between 12 and 16 gb

[2019-07-22 13:42] NoahDolev opened #18 "How do you generate samples on a trained sagemaker model?"
Hi,

Thanks for a cool implementation. Your notebook ends at fitting - now I am a little bit confused on how to actually generate samples on the fit sagemaker model?

Thanks!

[2019-07-23 01:41] wodsoe commented on #17
@robbiebarrat Thank you!So it doesn't work on 1080ti or 2080ti.

[2019-07-26 22:33] hbarovertwo opened #19 "Data preprocessing tips"
Hello @akanimax , awesome results.

I have my own use case which is generate realistic images of vehicles.
I am using a publicly available dataset for testing, I think stanford cars dataset.

I am wondering how important alignment is. For example if I have cars in different orientation (facing left, right etc) should I make them all aligned for the GAN training? If I don't, will this hinder the ab

[2019-07-28 15:16] akanimax commented on #17
@wodsoe, @robbiebarrat.
That is a little unlikely. Do you mean that on your GPU, even a batch size of 1 doesn't fit?

[2019-07-28 15:19] akanimax commented on #18
@NoahDolev,
Please check this script => https://github.com/akanimax/BMSG-GAN/blob/master/sourcecode/generate_samples.py
Not sure how you could run it on SageMaker.
@markstrefford, perhaps you could help.

Thanks!

Best regards,
@akanimax

[2019-07-28 15:24] akanimax commented on #19
@hbarovertwo,

The MSG-GAN technique is quite robust to such variations in the input images. To give you an example, the flowers shown on the README were only resized to `256 x 256` no other kind of cropping / alignment was done. Besides this, I have also trained it on a completely unaligned dataset (open Image dataset) with good results. I also remember @BlindElephants had trained on a dataset ex

[2019-07-29 05:26] hbarovertwo commented on #19
Thanks!! Running an iteration now and will see how it goes!

[2019-07-29 05:26] #19 closed

[2019-07-30 11:24] markstrefford commented on #18
Let me look into it. How urgent is this @NoahDolev?

[2019-07-30 11:33] NoahDolev commented on #18
Hi @markstrefford , thanks for taking a look, mate. Not urgent.

[2019-07-31 21:32] hbarovertwo opened #20 "Starting point to add conditioning on labels?"
Sorry @akanimax to open a new issue but this is a question I would love some help with. Basically I want to modify your architecture slightly to add the functionality of conditioning on image labels. For example if training on the flowers set, rather than just load image data to the model, load both image data + accompanying image label data like image of sunflower and label like tall yellow flowe

[2019-08-01 10:04] akanimax commented on #20
@hbarovertwo,
Thanks for your issue (why sorry? :smile:).  Our research was mainly focused on the unconditional setting of Image generation so, we never added the conditional settings to this code.
But, please refer to the this portion of my `pro_gan_pytorch` code -> [here](https://github.com/akanimax/pro_gan_pytorch/blob/master/pro_gan_pytorch/PRO_GAN.py#L213)
This might be helpful for you to cod

[2019-08-01 22:41] hbarovertwo commented on #20
Thanks for the help! Mainly if I can figure out a solution that scales, that will be great. I will let you know when I run into more questions about it. And I am using your latest release, BBMSG-GAN :)

[2019-08-26 23:54] powerspowers commented on #17
I think that this code would have to be updated to use mixed precision floating point for a 1080 or 2080 to be able to handle 1024x1024. I started to modify their newer BBMSGAN to try to add nVidia's code for fp16. My coding skills are definitely getting stretched. Going mixed precision would effectively double what GPU memory could handle.

[2019-09-03 13:04] bemoregt opened #21 "I want to just test the discriminator of this GAN using my abnormal images."
Hi, @markstrefford @owang @sridharmahadevan @akanimax @huangzh13

I trained successfully anomalyGAN with your MSG-GAN using my only normal images.

And now , I want to just test the discriminator of this GAN using my abnormal images...

How can I extract the discriminator from your MSG-GAN ?

Thanks in advance.

Best,
@bemoregt.

[2019-09-03 21:07] markstrefford commented on #21
You could modify this script...
https://github.com/akanimax/BMSG-GAN/blob/master/sourcecode/demo.py

[2019-09-09 08:27] bemoregt opened #22 "I met this error when run python3 demo.py"
Hi, @markstrefford @owang @sridharmahadevan @akanimax @huangzh13

I met this error when run python3 demo.py

tezro@sgi320:~/deepZ/BMSG-GAN/sourcecode$ python3 demo.py --generator_file ./GAN_GEN_60.pth
Traceback (most recent call last):
  File "demo.py", line 9, in <module>
    from generate_multi_scale_samples import progressive_upscaling
  File "/home/tezro/deepZ/BMSG-GAN/sourcecode/generate_mult

[2019-11-07 15:23] TropComplique opened #23 "Reproduction on another dataset"
Hi!
I like your paper.

Here is my version of your algorithm trained to generate dresses:
https://github.com/TropComplique/multi-scale-gradient-gan.

But I made some modifications:
1. I use self modulation (stylegan-like generator),
2. I use R1 penalty for discriminator,
3. I use PacGAN discriminator.

[2019-11-07 15:53] akanimax commented on #23
@TropComplique!
Thanks a lot for sharing your implementation :smile:. I have starred :star: your repo!
Your results on the dresses dataset are nice. I find it cool that you used the styleGAN architecture with MSG-GAN.

Even I am working on something very similar ... :smile:.
Here is a small teaser of what is coming ...

![celebahq_towers_1](https://user-images.githubusercontent.com/16590868/684043

[2019-11-19 16:52] TropComplique commented on #23
The teaser looks very delightful.
And thanks for your good work.

[2019-11-19 16:52] #23 closed

[2019-11-22 04:05] Johnson-yue opened #24 "what is flower dataset"
Hi, Would supply the flower dataset link ??

[2019-11-22 09:36] akanimax commented on #24
@Johnson-yue,
It's a quite commonly used dataset called Oxford 102 Flowers dataset.
This is the link to the dataset -> [https://www.robots.ox.ac.uk/~vgg/data/flowers/102/](https://www.robots.ox.ac.uk/~vgg/data/flowers/102/)
Hope this helps :smile:

Cheers :beers:!
@akanimax

[2019-11-23 03:20] Iceland-Leo opened #25 "About the performance of BMSG-GAN"
Hi, You means that the performance of Pro-GAN is better than BMSG-GAN? And BBMSG-GAN is better than Pro-GAN? Of course, the number of parameters is bigger?

[2019-11-25 03:26] Johnson-yue commented on #24
I do not have so many GPU， so， I only can use small dataset to test （I only have one RTX 2080ti），thank you， I will train it with your network

[2019-11-25 03:26] #24 closed

[2019-11-25 08:37] akanimax commented on #24
Wow! RTX. I have not had the chance to get a hands on it yet :smile:. Please let me know how you find the performance. BTW, I am soon going to release my MSG-StyleGAN code. Stay tuned. Perhaps you could give that one a try. It has really nice performance.
![Oxford_flowers](https://user-images.githubusercontent.com/16590868/69524725-064d5180-0f67-11ea-8e35-f4153513f379.png)
These are my latest flow

[2019-11-26 04:00] Johnson-yue commented on #24
Hi， I have downloaded the flower-102 dataset， and it only have 8189 pictures。 something I missing？？ or your network can be train with only 8k images and get so good performance？

If I want to training flower dataset , Would you supply a train script ? like using eql or not? using ema or not ? Although  I think them should be used, anyway

[2019-11-26 09:53] akanimax commented on #24
Oh yeah, the dataset does have only 8K images. The MSG-GAN method works quite well on datasets of small sizes too. We obtained a record FID of **19.6082** with the latest method.
But this version also has a score of around **~30** I guess.

[2019-11-26 11:08] Johnson-yue commented on #24
Wow， the new method is MSG-styleGAN？ brilliant！
but now ， I think test this version first，how many epoch will be train with flowers？

[2019-12-04 03:01] Johnson-yue commented on #24
500 epoch train result:
![gen_539_125](https://user-images.githubusercontent.com/10268274/70108859-43ab9080-1685-11ea-97fd-a8559077822b.png)

128x128 with flowers-102 dataset , very nice !! I will test other dataset , thank you

[2019-12-04 03:01] Johnson-yue commented on #24
500 epoch train result:
![gen_539_125](https://user-images.githubusercontent.com/10268274/70108859-43ab9080-1685-11ea-97fd-a8559077822b.png)

128x128 with flowers-102 dataset , very nice !! I will test other dataset , thank you

[2019-12-04 03:32] Johnson-yue opened #26 "How to quick test for trained model"
Hi, I have train the MSG-GAN model with flower-102 dataset, and I have trained model weight.
So,  how can I quick test this model to generate same flower from noise ??

Will I write load network and generate code ?? or you have this code but Not show then in **ReadMe**

Would you update **ReadMe** about how to test ?? this is better for use, thank you

[2019-12-05 07:06] Johnson-yue opened #27 "How importance about **Equalized learning rate**"
Hi， as I know this trick start with StyleGAN， but I not train GAN successful with it，I see， you also recommend it， So， I want to ask， how importance about **eql** with your feeling

[2019-12-05 16:19] akanimax commented on #26
@Johnson-yue,

You can use the [demo.py](https://github.com/akanimax/BMSG-GAN/blob/master/sourcecode/demo.py) for this. Hope this helps.

Best regards,
@akanimax

[2019-12-05 16:20] akanimax commented on #27
Yeah, from my experience, the equalized learning rate helps a lot :+1:.

[2019-12-06 02:13] Johnson-yue commented on #26
Thank，I try it later

[2019-12-06 02:13] #26 closed

[2019-12-06 02:20] Johnson-yue commented on #27
ok，thank you for your experience， it also helps me a lot

[2019-12-06 02:20] #27 closed

[2019-12-12 03:58] Johnson-yue opened #28 "When you update this repo with styleGAN"
Hi， I have test different dataset by using BMSG-GAN， and it work well，so can I ask when you will update this repo to the latest one ??

[2019-12-29 14:15] akanimax commented on #28
@Johnson-yue,
The new repo is available at -> [https://github.com/akanimax/msg-stylegan-tf](https://github.com/akanimax/msg-stylegan-tf).
The code is in tensorflow.
Hope this helps :+1:

[2019-12-29 14:18] akanimax commented on #25
@Iceland-Leo
Sorry for the late reply. I have been lesser and lesser time these days.
Long story short: This repo doesn't use batch-spoofing and the effective discriminator is half of ProGAN's discriminator.
The BBMSG-GAN fixes that and the discriminator is comparable to ProGAN's discriminator. Please note that the Generator is still the same for both.
Btw, the capacity problem was also admitted b

[2019-12-29 14:20] akanimax commented on #22
Is this solved by now? I believe it is related to using wrong version of `Python 3` and `Pytorch`. The code uses `Python 3.5` and `PyTorch 1.0.0`
Closing this for now...

[2019-12-29 14:20] #22 closed

[2019-12-29 14:21] akanimax commented on #21
Hope this is solved...
Closing :smile:

[2019-12-29 14:21] #21 closed

[2019-12-29 14:23] akanimax commented on #20
There hasn't been any activity here for a long time.
So, closing this issue. Please feel free to comment if there are any problems :+1:

[2019-12-29 14:23] #20 closed

[2019-12-29 14:24] akanimax commented on #12
Closing this issue due to inactivity.
Please feel free to comment here if you encounter any more problems
cheers :beers:!

[2019-12-29 14:24] #12 closed

[2020-01-03 02:29] Iceland-Leo commented on #25
OK！Thank you so much

[2020-01-16 17:30] rajivnayanc opened #29 "What are the parameters for CIFAR10 dataset? I have been training with lr=0.003, betas=(0,0.99). Even after 5 epochs, I am not getting recognizable results at any resolution."

[2020-02-01 09:10] Iceland-Leo commented on #25
@akanimax Sorry, one more question. GAN is unstable. May I ask how to get the IS score in your article experient? Is it the average of some epoch results? Or simply choose the maximum IS score?

[2020-02-22 02:17] ximenchuixu opened #30 "pretrained models"
Could you please share the 128*128 pretrained models on celebA?

[2020-03-13 08:12] bemoregt opened #31 "I want to stop and resume the training continuously."
Hi, @markstrefford @owang @sridharmahadevan @akanimax @huangzh13

I want to stop and resume the training continuously with saved model.

My resuming commad : "$ python3 train.py --start 300"  # I stop at 350 epoch

But, My Training sample is started from the scratch. --;

What's wrong to me ??

Thanks.
Best,
@bemoregt.

[2020-03-23 07:37] #28 closed

[2020-03-23 08:43] Johnson-yue opened #32 "Would you add compute IS and FID code ??"
hi, It is me again.

I think many kind of method for computing IS and FID , so would you release your code about how to compute IS and FID for cifar10 ,  celeba_HQ, dataset?

[2020-03-24 03:12] Johnson-yue opened #33 "Why output of torch.cat() is still C channels??"
https://github.com/akanimax/BMSG-GAN/blob/d06316974d1d84bd2077f8c558ebaf9d967205df/sourcecode/MSG_GAN/CustomLayers.py#L342

I think input feature x , the shape of **x** is (BS, C, H, W)
and the shape of **y** is (BS, 1, H, W)
so the output of concate them should be (BS, C+1, H, W), but (BS, C, H, W) in code ?

[2020-03-24 09:10] Johnson-yue commented on #32
sorry to bother you , I see your BBMSG_GAN repo have some code about compute IS and FID ,so I closed this issue thank you

[2020-03-24 09:10] #32 closed

[2020-03-26 03:51] Johnson-yue opened #34 "WGAN-GP for Training MSG_ProGAN is failed"
Hi, I read your newest version paper (v3) in arxiv, and i saw that add MSG_styleGAN information, I'm glad to see it , but I have some question about paper :

1. I think you paper said the result of showing in paper is trained MSG_ProGAN by using WGAN-GP, and trained MSG_styleGAN by using Non-saturating GAN loss with 1-sided gp.  This repo is for training MSG_ProGAN but default GAN loss is **relati

[2020-04-14 16:33] materialvision commented on #31
I am also curious about this. The start flag does not seem to resume the training, only store with another number for the files... It would be great to have a resume flag.

[2020-05-27 12:24] jiaying96 opened #36 "demo.py"
I trained the model  with:
python train.py --depth=7 --latent_size=512 --images_dir=../data/flowers --sample_dir=samples/exp_1 --model_dir=models/exp_1

and I test with:
python demo.py --generator_file=models/exp_1/GAN_DIS_3.pth --depth=7 --latent_size=512

but some error:

[code]

how to solve it?

[2020-06-05 06:39] dance-ing opened #37 "I got"

[2020-06-05 06:39] #37 closed

[2020-06-05 06:46] dance-ing commented on #37
I tried to generate 100 images by using my pretrained model but why I got 100 identical pictures, and I  noticed that during the model training phase, every picture in the grid picture obtained every time is the same. Is that my trainset to small ??

[2020-06-05 14:48] dance-ing opened #38 "Model collapse"
Why are all the images generated by me using the trained network exactly the same?
I observed the training process, and the images generated using different noises are still somewhat different, but gradually they become the same image. What is the reason? Is my training data too small?

[2020-06-06 20:20] magp18 commented on #10
I have the same problem, no idea why

[2020-06-16 03:03] nguyenpbui commented on #2
Hello Akanimax, I'm using your BMSG-GAN repo for text-to-face task and mode collapses. You'd used ProGAN for this task. I've stucked with it for a long time and exhausted. Any advice for this? Thank you.

[2020-06-16 15:27] nguyenpbui commented on #38
I faced the same problem even trying to change the GAN structure, add batch normalization,..
Did you find the answer yet?

[2020-06-20 14:39] dance-ing commented on #38
sorry, not yet...................

[2020-06-22 12:22] nihadguluzade commented on #38
I'm facing the same issue while trying to train my own dataset. What is the size of your dataset?

[2020-06-23 03:53] nguyenpbui commented on #38
400 images from LFW dataset. But I'm using celaba dataset now.

[2020-09-01 09:34] AAAeray opened #39 "Why smaller batch size results better results? With the epochs increased, the G loss went up?"
There are 6k+ 256*256 images in my datasets, I set batchsize=32 and trained with 4 12GB GPUs, but it's not as good as I set batchsize = 4 and trained with one GPU,neither the training speed nor the image quality. Why a smaller batch size results  better results?
Beside,I set batchsize=4, when epoch>70, g-loss went up obviously,and qualities of generated images went worse.Why did this happen? (Trai

[2020-09-03 09:16] MaratZakirov commented on #2
Hi @akanimax, I am trying your project on my data (>11k images of resolution higher than 512x512)
![1_32597-29-86](https://user-images.githubusercontent.com/24436072/92094918-aa5d0680-eddd-11ea-8f26-fbd323108dfc.jpg)
Could you please suggest me easiest way to make it work? I started it but got bad results possibly due to small number of epochs (I used 100).  Recently I started again with all defau

[2020-09-06 10:01] akanimax commented on #38
Hi guys!
imho, 400 images is an extremely small dataset and mode collapse is expected. I'd suggest trying the data - augmentation suggested in [https://arxiv.org/abs/2006.06676](https://arxiv.org/abs/2006.06676) rather than changing the network architecture. There also a very informative video about the paper [here](https://arxiv.org/abs/2006.06676).
Hope this helps!

Cheers :beers:!

[2020-09-06 10:04] akanimax commented on #34
Oh yeah indeed, thanks for pointing this out. I'll update the default loss function to WGAN-GP here too. It's possible that the loss implementation is broken now due to PyTorch upgrades so, it will need fixing. Since you have already implemented a fix, could you perhaps open a PR here?

[2020-09-06 10:04] akanimax commented on #34
Oops, saw #35 just now! Thanks :smile:.
Will take a look...

Cheers :beers:!

[2020-09-06 10:17] akanimax commented on #39
Well, there are some known issues regarding the multi-gpu training since the last couple of updates of PyTorch. I will have to investigate this, but it's quite difficult given my schedule right now. The training instability in this resumed training could be because of improper loading of state/weights.

[2020-09-28 07:46] IwenLeeO opened #40 "when I train the model ? The d_loss is always 0.0 ? Is there some problems ?"
Elapsed [0:05:20.807550] batch: 252  d_loss: 0.000000  g_loss: 9.195433
Elapsed [0:05:32.021947] batch: 261  d_loss: 0.000000  g_loss: 9.544848
Elapsed [0:05:43.313830] batch: 270  d_loss: 0.000000  g_loss: 8.533874
Elapsed [0:05:54.605321] batch: 279  d_loss: 0.000000  g_loss: 8.899170
Elapsed [0:06:06.190011] batch: 288  d_loss: 0.000000  g_loss: 18.478725
Elapsed [0:06:17.612306] batch: 297  d_

[2020-11-30 11:12] remicres opened #41 "WGAN-GP loss: averaging penalties or not?"
Hi @akanimax

First of all many thanks for this amazing contribution.

In the paper, it is stated `we modified the gradient penalty to be the average of the penalties over each input`.
I didn't see any of that in the original MSG-GAN tensorflow implementation, neither in the BMSG-GAN implementation: it seems rather like only the gradient penalty of the higher resolution image is used.

Did I miss

[2020-12-14 07:13] ForawardStar commented on #40
I also have the same issue, have you solved it?

[2021-01-07 04:52] xSplasher opened #42 "Can't load images | KeyError: 'SM_CHANNEL_TRAINING'"
i ran ``` !python train.py --depth=7 --latent_size=512 --images_dir='../data/train' --num_epochs=100 --num_samples=8 --sample_dir=samples/exp_1 --model_dir=models/exp_1 ```
and got this error:

[code]

i'm using google colab on pytorch 1.7 version
dataset im using is "Linnaeus 5 256X256" from [here](http://chaladze.com/l5/)
data folder has 2 folders inside: train and test. inside them folders cont

[2021-01-08 18:02] victor-navarro commented on #42
I got the same error. From what I could find, that error is related to SageMaker, so you might want to look into that.
For my application, I could instead use @akanimax 's pytorch implementation (msg-gan-v1). That one is running without any issues.

[2021-01-09 02:36] xSplasher commented on #42
that did the job, Thank you @victor-navarro

[2021-01-09 02:36] #42 closed

[2021-03-29 09:45] giusepperizzo opened #43 "Error(s) in loading state_dict for DataParallel in generating_samples.py"
After a whole training with

$ python3 sourcecode/train.py --depth=7 --latent_size=256 --images_dir=DATASET --sample_dir=sampledir/exp2 --model_dir=modeldir/exp2

when launching

$ python3 sourcecode/generate_samples.py --generator_file=modeldir/exp2/GAN_GEN_100.pth --out_dir=outputdir

I got:

''
Creating generator object ...
Loading the generator weights from: modeldir/exp2/GAN_GEN_100.pth
Trace

[2021-04-10 10:06] foxy297feng commented on #40
same...

[2021-04-12 05:51] akanimax commented on #40
Hello!
The default GAN_loss function being used in this repo is `relativistic-hinge`. Please refer to this paper for more about this loss function: [https://arxiv.org/abs/1807.00734](https://arxiv.org/abs/1807.00734). The discriminator loss for this variant of the GAN_loss remains 0.0 for most of the training, but the GAN trains properly.

[2021-04-15 02:38] foxy297feng commented on #40
Thank you for your reply!

________________________________
发件人: Animesh Karnewar ***@***.***>
发送时间: 2021年4月12日 13:51
收件人: akanimax/BMSG-GAN ***@***.***>
抄送: foxy297feng ***@***.***>; Comment ***@***.***>
主题: Re: [akanimax/BMSG-GAN] when I train the model ? The d_loss is always 0.0 ? Is there some problems ? (#40)

Hello!
The default GAN_loss function being used in this repo is relativistic-hinge.

[2021-05-10 20:47] yueruchen opened #44 "How to process the resolution of Flower dataset"
Hi,

Thank you for sharing your work. It seems that the resolution of Flower dataset is not 256x256. How do you process this dataset, resize of crop? Thanks.

[2021-06-24 10:29] #29 closed

[2021-07-05 15:37] ademus4 commented on #31
Also want to be able to continue from a given point. I tried just now, after training for 100 epoch, starting at 101, it appears to have started from scratch again.

[2021-07-07 11:06] ademus4 commented on #31
Ah figured this out; you can set the path to the previous weights (generator and discriminator), using the input parameters in the train.py file, lines 35 to 51

[2021-07-10 10:17] Aveturi13 commented on #2
Hi @akanimax, I started learning about GANs recently and I found this model really cool, great job! I have a question regarding the loss function. I've been following this discussion closely and you mention that with the RAHinge loss, it's expected for the discriminator to reach 0.0 loss early on in training. Could you comment a bit about how the generator loss should behave? I'm currently trainin

[2021-07-10 11:20] Aveturi13 commented on #2
Hi @akanimax, I started learning about GANs recently and I found this model really cool, great job! I have a question regarding the loss function. I've been following this discussion closely and you mention that with the RAHinge loss, it's expected for the discriminator to reach 0.0 loss early on in training. Could you comment a bit about how the generator loss should behave? I'm currently trainin

[2021-08-02 07:29] vinayakarannil opened #45 "Question regarding higher resolution generation"
What is the config parameter to generate 512 or 1024px images? Default training setup generates up to 256*256 only

[2021-08-02 07:43] vinayakarannil commented on #45
Got it! its the depth parameter. I increased it to 9 and was able to generate upto 1024

[2021-08-02 07:43] #45 closed

[2021-08-02 12:58] vinayakarannil opened #46 "Question about projecting generated images back to latent space"
Is there a way we can project back the images to get the latent vectors just like it is available in StyleGan2 repo?

[2021-09-03 13:44] cellis commented on #34
hello, any updates on this?

[2021-12-16 03:53] #17 closed

[2022-03-17 12:10] LoveU3tHousand2 opened #47 "MSG-cycleGAN"
I try to implement msg way to cycleGAN for two weeks.
The generator : Unet-withSkipConnection and downsample(k=4, s=2 conv) upsample(Deconv) 8x.

But the D_loss, both D_A and D_B always decreased near to zero  and G_loss(lsgan) always stuck in 0.01 ...

What I want to know is whether this combination will work? msg + cycleGAN?
Anybody tried before?

[2022-06-17 04:18] thuangb commented on #47
As answered in #40, the D loss should be near zero. What matter most in training GAN is not the loss but the visual quality, if you see it is good then just keep training

[2022-06-17 04:36] LoveU3tHousand2 commented on #47
Thanks for your replying, but msg strategy and cyclegan just can not work together...I already gave it up..

Sent from my iPhone

On Jun 17, 2022, at 12:19, thuangb ***@***.***> wrote:

﻿

As answered in #40<https://github.com/akanimax/BMSG-GAN/issues/40>, the D loss should be near zero. What matter most in training GAN is not the loss but the visual quality, if you see it is good then just keep t

[2022-08-31 00:07] mmuneebsaad commented on #5
Hi @mdraw @akanimax, thank you for the great work.
@mdraw, I tried your code branch on grayscale radiology data, it worked well. However, I got an error while generating synthetic samples from saved weights. It seems to be an image dimension problem. Could you please help me to guide about where could I make changes in the generate_samples.py code?
Please see error log as follows:

Traceback (most